
				<form class="margin-base-vertical" action="/login" method="post">
					<p class="input-group">
						<span class="input-group-addon"><span class=""><strong>userName</strong></span></span>
						<input type="text" class="form-control input-lg" name="userName" placeholder="dishy" />
						
					</p>
					<p>
						password:<input type="password" class="form-control input-lg" name="passwd" />
					</p>

						<button type="submit" class="btn btn-success btn-lg">Keep me posted</button>
					</p>
					</span>
				</form>